@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Srisakdi&family=Yuji+Boku&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Italiana', serif;
  color: #046969;
  scroll-behavior: smooth;
  font-weight: 600;
}

html {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

body {
  width: 100%;
  color: #016565;
  font-style: italic;
  font-weight: 600;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.5rem;
  line-height: 2rem;
  color: #222;
}

h2 {
  font-size: 2.8rem;
  line-height: 1.5rem;
  color: #222;
}

h4 {
  font-size: 1.8rem;
  color: #222;
}

h6 {
  font-weight: 700;
  color: #222;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  color: #333;
  margin: 1rem 0 1.2rem 0;
}

.section-p1 {
  padding: 2.5rem 5rem;
}

.section-m1 {
  margin: 2.5rem 0;
}

.normal, .btn-awesome {
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  padding: 1rem 1.8rem;
  color: #000;
  background-color: #4cb0b0;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn-awesome {
  background: transparent;
  border: 1px solid #004e4e;
}

.logo {
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(blue));
  background-image: linear-gradient(90deg, red, blue);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 300ms ease;
  transition: background-size 300ms ease;
}

.logo:hover {
  background-size: 100% 3px;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 5rem;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

#header #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header #navbar li {
  list-style: none;
  padding: 0 1rem;
  position: relative;
}

#header #navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #046969;
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(blue));
  background-image: linear-gradient(90deg, red, blue);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 300ms ease;
  transition: background-size 300ms ease;
}

#header #navbar li a:hover {
  background-size: 100% 3px;
}

#header #navbar .active::after {
  content: '';
  width: 30%;
  height: 2px;
  background: #004e4e;
  position: absolute;
  bottom: -2px;
  left: 2.5rem;
}

.fa-shopify {
  font-weight: bold;
}

.fa-shopify:hover {
  color: #4cb0b0;
}

#mobile {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mobile .fa-outdent {
  margin-left: 1rem;
}

#close {
  display: none;
}

#hero {
  background-image: url("../img/hero4.jpg");
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero button {
  background-color: transparent;
  font-style: italic;
  border: 0;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(blue));
  background-image: linear-gradient(90deg, red, blue);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 300ms ease;
  transition: background-size 300ms ease;
}

#hero button:hover {
  background-size: 60% 3px;
  cursor: pointer;
}

#hero button a {
  text-decoration: none;
  background-image: url("../img/button.png");
  padding: 1rem 6rem 1rem 4rem;
  color: #046969;
}

#hero h4 {
  font-weight: 600;
  padding-bottom: 1rem;
  color: #004e4e;
}

#hero h2 {
  font-weight: 500;
  width: 450px;
  line-height: 1;
}

#hero p {
  width: 150px;
  font-weight: 900;
  font-size: 1rem;
}

#video-section .video {
  padding: 1rem 1rem;
}

#video-section .video video {
  width: 80%;
}

#feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#feature .feature-box {
  width: 180px;
  text-align: center;
  padding: 1.5rem 1rem;
  -webkit-box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.03);
          box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.03);
  border: 0.2px solid #004e4e;
  border-radius: 5px;
  margin: 1rem 0;
}

#feature .feature-box:hover {
  -webkit-box-shadow: 0.25rem 0.25rem 5rem rgba(0, 78, 78, 0.03);
          box-shadow: 0.25rem 0.25rem 5rem rgba(0, 78, 78, 0.03);
  cursor: pointer;
}

#feature .feature-box h6 {
  display: inline-block;
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  line-height: 1;
  border-radius: 5px;
  color: #004e4e;
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(blue));
  background-image: linear-gradient(90deg, red, blue);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 300ms ease;
  transition: background-size 300ms ease;
}

#feature .feature-box h6:hover {
  background-size: 100% 3px;
}

#feature .feature-box img {
  width: 100%;
  height: 100px;
  margin-bottom: 0.7rem;
}

h1 {
  border: none;
  outline: none;
  width: auto;
  margin: 0 auto;
  padding: 0;
  font-size: 1.8rem;
  color: black;
}

#product1 {
  text-align: center;
}

#product1 h1 {
  font-size: 3.5rem;
  line-height: 2;
  color: #004e4e;
}

#product1 h6 {
  line-height: 2;
}

#product1 .pro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.3rem;
}

#product1 .product {
  width: 23%;
  min-width: 250px;
  padding: 0.7rem 0.9rem;
  border: 1px solid #4cb0b0;
  border-radius: 1.5rem;
  cursor: pointer;
  -webkit-box-shadow: 1.2rem 1.2rem 2rem rgba(0, 0, 0, 0.02);
          box-shadow: 1.2rem 1.2rem 2rem rgba(0, 0, 0, 0.02);
  margin: 1rem 0;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  position: relative;
}

#product1 .product:hover {
  -webkit-box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
}

#product1 .product span.badge {
  z-index: 100;
  color: white;
  background: #004e4e;
  font-weight: bold;
  font-size: 0.93333rem;
  position: absolute;
  top: -8px;
  left: 10px;
}

#product1 .product .cart {
  height: 2.5rem;
  width: 2.5rem;
  background-color: transparent;
  line-height: 2.5rem;
  border-radius: 50%;
  border: 1px solid #4cb0b0;
  color: #004e4e;
  position: absolute;
  bottom: 25px;
  right: 10px;
}

#product1 .product .description {
  text-align: start;
  padding: 0.8rem 0;
}

#product1 .product .description span {
  color: #004e4e;
  font-size: 1rem;
}

#product1 .product .description h5 {
  padding-top: 7px;
  color: #004e4e;
  font-size: 1.8rem;
}

#product1 .product .description h4 {
  padding-top: 7px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #004e4e;
}

#product1 .product .description i {
  color: #c9d681;
  font-size: 1rem;
}

#product1 .product img {
  width: 100%;
  border-radius: 8px;
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url("../img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

#banner h4 {
  color: #000;
  font-size: 1.8rem;
}

#banner h2 {
  color: #000;
  font-size: 3.5rem;
  padding: 1rem 0;
}

#banner h2 span {
  text-shadow: 1px 2px 2px white;
}

#banner button:hover {
  background-color: #046969;
  color: #fff;
}

#sm-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url("../img/banner/img1.jpg");
  min-width: 500px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 1.5rem;
}

.banner-box2 {
  background-image: url("../img/banner/img2.jpg");
}

h4, h2, span, button {
  font-weight: bold;
  font-style: italic;
  margin-top: 0.5rem;
}

h2 span {
  color: #004e4e;
  font-size: 2.8rem;
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(blue));
  background-image: linear-gradient(90deg, red, blue);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 300ms ease;
  transition: background-size 300ms ease;
  background-size: 100% 3px;
}

h2 span h4 {
  color: #046969;
}

button {
  color: #046969;
}

button:hover {
  background-color: #046969;
  color: #fff;
}

#small-banner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5rem;
}

#small-banner-box .banner-box {
  min-width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1.5rem;
}

#small-banner-box .sm-banner1 {
  background-image: url(../img/banner/b23.jpg);
}

#small-banner-box .sm-banner2 {
  background-image: url("../img/banner/b17.jpg");
}

#small-banner-box .sm-banner3 {
  background-image: url("../img/banner/b22.jpg");
}

#small-banner-box h3 {
  margin-top: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(blue));
  background-image: linear-gradient(90deg, red, blue);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 300ms ease;
  transition: background-size 300ms ease;
}

#small-banner-box h3:hover {
  background-size: 100% 3px;
}

#newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #4cb0b0;
  padding: 1rem 5rem;
}

#newsletter .news-text span {
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(blue));
  background-image: linear-gradient(90deg, red, blue);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 300ms ease;
  transition: background-size 300ms ease;
  background-size: 100% 3px;
}

#newsletter h4 {
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(blue));
  background-image: linear-gradient(90deg, red, blue);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 300ms ease;
  transition: background-size 300ms ease;
}

#newsletter h4:hover {
  background-size: 100% 3px;
}

#newsletter input {
  height: 3rem;
  padding: 0 1rem;
  font-size: 1rem;
  border: 1px solid #004e4e;
  border-radius: 5px;
  outline: none;
}

.footer-logo {
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: start;
}

footer .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 0 1rem;
}

footer .col a {
  text-decoration: none;
  color: #046969;
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(blue));
  background-image: linear-gradient(90deg, red, blue);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 300ms ease;
  transition: background-size 300ms ease;
}

footer .col a:hover {
  background-size: 35% 2px;
}

footer .follow i {
  display: block;
  margin: 1rem 0;
  font-weight: bold;
}

footer .follow i:hover {
  color: #4cb0b0;
}

footer strong {
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(blue));
  background-image: linear-gradient(90deg, red, blue);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 300ms ease;
  transition: background-size 300ms ease;
  background-size: 100% 3px;
}

@media (max-width: 768px) {
  #navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 325px;
    background-color: #fff;
    -webkit-box-shadow: 0 40px 60px rgba(0, 0, 0, 0.5);
            box-shadow: 0 40px 60px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }
  #navbar.active {
    top: 0;
    right: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #navbar li {
    margin: 1rem;
  }
  #navbar li a {
    font-size: 1.8rem;
  }
  #mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #mobile .fa-outdent,
  #mobile .fa-shopify {
    font-size: 1.75rem;
  }
  #close {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 1.75rem;
  }
  #lg-bag {
    display: none;
  }
  #hero {
    height: 70vh;
    padding: 0 5rem;
    background-position: top 30% right 30%;
  }
  #feature {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #feature .feature-box {
    margin: 0.5rem 0.25rem;
    outline: 1px solid #004e4e;
    border-radius: 5px;
  }
  #product1 .pro-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #product1 .pro-container .product {
    margin: 0.5rem 0.25rem;
  }
  #sm-banner {
    width: 100%;
    padding: 0;
  }
  #sm-banner .banner-box {
    width: 100%;
    padding: 0 1rem;
  }
  #small-banner-box {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    padding: 0;
  }
  #small-banner-box .banner-box {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #small-banner-box .sm-banner1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #small-banner-box .sm-banner2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #small-banner-box .sm-banner3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #newsletter {
    width: 100%;
    padding: 1rem 1rem;
  }
  footer.section-p1 {
    padding: 0 0.5rem;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 75%;
  }
  #header {
    width: 100%;
    padding: 0 2rem;
  }
  #header #navbar {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header #navbar li {
    margin: 1rem;
  }
  #header #mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header .fa-outdent,
  #header .fa-shopify {
    font-size: 1.75rem;
  }
  #hero {
    width: 100%;
    padding: 0 1rem;
  }
  #hero h2 {
    font-size: 1.8rem;
    width: 200px;
    line-height: 1;
    font-weight: bold;
  }
  #banner h2, h2 span {
    font-size: 1.8rem;
    color: #004e4e;
    margin-top: 10rem;
  }
  #product1 h1 {
    line-height: 1;
  }
  #product1 h4 {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  #sm-banner h2 {
    font-size: 1.8rem;
  }
  #small-banner-box {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  #newsletter.section-m1 {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer {
    width: 100%;
    height: 100vh;
    padding: 0 0.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  footer .col:last-child {
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media (max-width: 1024px) {
  .logo {
    width: 75%;
  }
  #hero {
    background-size: cover;
    background-position: left -80px bottom 50px;
  }
  #sm-banner {
    width: 100%;
  }
  #sm-banner .banner-box {
    width: 100%;
  }
  #small-banner-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #small-banner-box .sm-banner1, #small-banner-box .sm-banner2, #small-banner-box .sm-banner3 {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-size: contain;
  }
  footer.section-p1 {
    padding: 0 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */